body {
  background-color: rgb(192, 226, 43);
}

.test {
  background-color: crimson;
  width: 600px;
  height: 200px;
  /* border-radius: 100px; */
  border: dashed;
}

.done {
  background-color: rgb(20, 220, 103);
  width: 600px;
  height: 200px;
  /* border-radius: 100px; */
  border: solid rgb(204, 202, 202) 4px;
  margin-right: 200px;
}

header {
  background-color: rgb(220, 20, 187);
  width: 600px;
  height: 200px;
  /* border-radius: 100px; */
  border: solid rgb(202, 204, 204) 4px;
  margin-right: 200px;
}

img {
  height: 200px;
  border-radius: 200px;
}
